body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.card-container{
   background-color: rgb(112, 174, 224);
   height: 15rem;
   text-align: center;
   color: white;
   margin-top: 1rem;
   border-radius: 5px;

}

.card-title{
   font-size: 1.7rem;
   
}